body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}
 
.container {
    width: 90%;
    max-width: 400px;
    margin: 100px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
 
h2 {
    text-align: center;
    color: #007bff;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 20px;
}
 
.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}
 
.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
 
.input-group input:focus {
    outline: none;
    border-color: #007bff;
}

.btn-container {
    background: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

.btn-container:hover {
    background-position: left bottom;
  }

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    /* transition: background-color 0.3s; */

    text-align: center;
    font-size: 16px;
    line-height: 30px; 
    color: black;
    transition: all .6s ease-out;
    display: block;
  


}
 
.btn:hover {
    background-color: #0056b3;
    color: white;  
}
 
.forgot-password a {
    display: inline-block;
    position: relative;
    color: #0087ca;
    text-decoration: none;
    padding-top: 20px;
}
 
/* .forgot-password a {
    text-decoration: none;
    color: #007bff;
}
 
.forgot-password a:hover {
    text-decoration: underline;
} */

.forgot-password a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.05em;
    bottom: 0;
    left: 0;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .forgot-password a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }